.page {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cast {
  display: flex;
  align-items: center;
  gap: 10px;
}

.headWrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.poster {
  height: 500px;
  object-fit: contain;
}

.linksWrapper {
  margin-top: 40px;
  display: flex;
  gap: 10px;
}
